* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --highlight: #7C3AED;
    --graphic-element: #94A3B8;
    --surface-secondary: #EDE9FE;
}

body {
    height: 100vh;
    font-family: 'Inter', sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 20px;
    font-weight: 600;
}

header {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

button {
    background-color: transparent;
    border-style: none;
}


.container {
    height: 692px;
    width: 800px;
    padding: 64px 80px;
    border-radius: 16px;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.2);
    gap: 64px;
}

#container-items {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.container-boxs-coversion {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-desired-currency {
    height: 56px;
    width: 292px;
    border: 1px solid var(--highlight);
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-desired-currency input {
    height: 30px;
    width: 162px;
    border-style: none;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 400;
}

.container-real-currency {
    
    height: 56px;
    width: 292px;
    border: 1px solid var(--graphic-element);
    border-radius: 8px;
    padding-left: 14px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-desired-currency-right-items {
    background-color: var(--surface-secondary);
    height: 55px;
    width: 130px;
    margin: 1px;
    display: flex;
    padding-left: 16px;
    gap: 10px;
    align-items: center;
    border-radius: 3px;
    z-index: -1;
}

.container-real-currency-right-items {
    height: 52px;
    width: 130px;
    display: flex;
    padding-left: 16px;
    gap: 10px;
    align-items: center;
}